In [1]:
import pandas as pd
import seaborn as sns

In [3]:
df = sns.load_dataset('penguins')

In [8]:
df_copy = df.copy()
df_copy

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex
0,Adelie,Torgersen,39.1,18.7,181.0,3750.0,Male
1,Adelie,Torgersen,39.5,17.4,186.0,3800.0,Female
2,Adelie,Torgersen,40.3,18.0,195.0,3250.0,Female
3,Adelie,Torgersen,NaN,NaN,NaN,NaN,NaN
4,Adelie,Torgersen,36.7,19.3,193.0,3450.0,Female
...,...,...,...,...,...,...,...
339,Gentoo,Biscoe,NaN,NaN,NaN,NaN,NaN
340,Gentoo,Biscoe,46.8,14.3,215.0,4850.0,Female
341,Gentoo,Biscoe,50.4,15.7,222.0,5750.0,Male
342,Gentoo,Biscoe,45.2,14.8,212.0,5200.0,Female
343,Gentoo,Biscoe,49.9,16.1,213.0,5400.0,Male

In [9]:
# 5000g 이상의 펭귄 출력
df_copy = df.copy()
con = df['body_mass_g'] >= 5000 # 5000 이상의 조건
df_copy[con]

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex
221,Gentoo,Biscoe,50.0,16.3,230.0,5700.0,Male
223,Gentoo,Biscoe,50.0,15.2,218.0,5700.0,Male
224,Gentoo,Biscoe,47.6,14.5,215.0,5400.0,Male
227,Gentoo,Biscoe,46.7,15.3,219.0,5200.0,Male
229,Gentoo,Biscoe,46.8,15.4,215.0,5150.0,Male
...,...,...,...,...,...,...,...
335,Gentoo,Biscoe,55.1,16.0,230.0,5850.0,Male
337,Gentoo,Biscoe,48.8,16.2,222.0,6000.0,Male
341,Gentoo,Biscoe,50.4,15.7,222.0,5750.0,Male
342,Gentoo,Biscoe,45.2,14.8,212.0,5200.0,Female
343,Gentoo,Biscoe,49.9,16.1,213.0,5400.0,Male

In [12]:
# Gentoo종의 flipper_length 평균
df_copy = df.copy()
con = df_copy['species'] == 'Gentoo' # Gentoo 종이란 조건
print(df_copy.loc[con, 'flipper_length_mm'].mean()) # 평균 구하기

217.1869918699187

In [41]:
# Female Chinstrap종의 bill_length 높은순 정렬
df_copy = df.copy()
con = df_copy['sex'] == 'Female' # Female이란 조건
con2 = df_copy['species'] == 'Chinstrap' # Chinstrap종이란 조건
df_copy.loc[con & con2].sort_values('bill_length_mm', ascending = False) # bill_length 높은 순 정렬

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex
169,Chinstrap,Dream,58.0,17.8,181.0,3700.0,Female
196,Chinstrap,Dream,50.9,17.9,196.0,3675.0,Female
178,Chinstrap,Dream,50.5,18.4,200.0,3400.0,Female
219,Chinstrap,Dream,50.2,18.7,198.0,3775.0,Female
198,Chinstrap,Dream,50.1,17.9,190.0,3400.0,Female
201,Chinstrap,Dream,49.8,17.3,198.0,3675.0,Female
202,Chinstrap,Dream,48.1,16.4,199.0,3325.0,Female
188,Chinstrap,Dream,47.6,18.3,195.0,3850.0,Female
187,Chinstrap,Dream,47.5,16.8,199.0,3900.0,Female
164,Chinstrap,Dream,47.0,17.3,185.0,3700.0,Female
190,Chinstrap,Dream,46.9,16.6,192.0,2700.0,Female
213,Chinstrap,Dream,46.8,16.5,189.0,3650.0,Female
176,Chinstrap,Dream,46.7,17.9,195.0,3300.0,Female
162,Chinstrap,Dream,46.6,17.8,193.0,3800.0,Female
152,Chinstrap,Dream,46.5,17.9,192.0,3500.0,Female
180,Chinstrap,Dream,46.4,17.8,191.0,3700.0,Female
170,Chinstrap,Dream,46.4,18.6,190.0,3450.0,Female
193,Chinstrap,Dream,46.2,17.5,187.0,3650.0,Female
158,Chinstrap,Dream,46.1,18.2,178.0,3250.0,Female
160,Chinstrap,Dream,46.0,18.9,195.0,4150.0,Female
166,Chinstrap,Dream,45.9,17.1,190.0,3575.0,Female
214,Chinstrap,Dream,45.7,17.0,195.0,3650.0,Female
204,Chinstrap,Dream,45.7,17.3,193.0,3600.0,Female
211,Chinstrap,Dream,45.6,19.4,194.0,3525.0,Female
195,Chinstrap,Dream,45.5,17.0,196.0,3500.0,Female
155,Chinstrap,Dream,45.4,18.7,188.0,3525.0,Female
157,Chinstrap,Dream,45.2,17.8,198.0,3950.0,Female
208,Chinstrap,Dream,45.2,16.6,191.0,3250.0,Female
216,Chinstrap,Dream,43.5,18.1,202.0,3400.0,Female
174,Chinstrap,Dream,43.2,16.6,187.0,2900.0,Female
184,Chinstrap,Dream,42.5,16.7,187.0,3350.0,Female
206,Chinstrap,Dream,42.5,17.3,187.0,3350.0,Female
172,Chinstrap,Dream,42.4,17.3,181.0,3600.0,Female
182,Chinstrap,Dream,40.9,16.6,187.0,3200.0,Female

In [47]:
# species(종)별 성별 구분하여 평균 몸무게 출력
# => ex) Adelie, Female / Adelie, male / Gentoo, Female...

df_copy = df.copy()
for species in df_copy['species'].unique(): # df_copy['species'].unique()는 ['Adelie' 'Chinstrap' 'Gentoo'] 나오기 때문에 for문을 써서 종별 구분
    for sex in df_copy['sex'].unique()[:2]: # df_copy['sex'].unique()는 ['Male' 'Female' nan] 나오기 때문에 for문을 쓰지만 nan을 쓰지 않고 Female까지만 나올 수 있도록 [:2]를 써서 성별 구분
        con1 = df_copy['species'] == species
        con2 = df_copy['sex'] == sex
        print(f'{species}, {sex}의 평균 몸무게는 ', end = '')
        print(df_copy.loc[con1 & con2, 'body_mass_g'].mean()) # 평균 몸무게 출력

Adelie, Male의 평균 몸무게는 4043.4931506849316
Adelie, Female의 평균 몸무게는 3368.8356164383563
Chinstrap, Male의 평균 몸무게는 3938.970588235294
Chinstrap, Female의 평균 몸무게는 3527.205882352941
Gentoo, Male의 평균 몸무게는 5484.836065573771
Gentoo, Female의 평균 몸무게는 4679.741379310345

In [46]:
# bill_depth 결측치 채우기
# => 같은종 같은섬의 평균으로
df_copy = df.copy()

for species in df_copy['species'].unique(): # df_copy['species'].unique()는 ['Adelie' 'Chinstrap' 'Gentoo'] 나오기 때문에 for문을 써서 종별 구분
    for island in df_copy['island'].unique(): # df_copy['island'].unique()는 ['Torgersen' 'Biscoe' 'Dream'] 나오기 때문에 for문을 써서 섬별 구분
        con1 = df_copy['species'] == species
        con2 = df_copy['island'] == island
        avg = df_copy.loc[con1 & con2, 'bill_depth_mm'].mean() # 같은 종, 같은 섬의 평균
        df_copy.loc[con1 & con2, 'bill_depth_mm'] = df_copy.loc[con1 & con2, 'bill_depth_mm'].fillna(avg) # 결측치 채우기
df_copy

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex
0,Adelie,Torgersen,39.1,18.700000,181.0,3750.0,Male
1,Adelie,Torgersen,39.5,17.400000,186.0,3800.0,Female
2,Adelie,Torgersen,40.3,18.000000,195.0,3250.0,Female
3,Adelie,Torgersen,NaN,18.429412,NaN,NaN,NaN
4,Adelie,Torgersen,36.7,19.300000,193.0,3450.0,Female
...,...,...,...,...,...,...,...
339,Gentoo,Biscoe,NaN,14.982114,NaN,NaN,NaN
340,Gentoo,Biscoe,46.8,14.300000,215.0,4850.0,Female
341,Gentoo,Biscoe,50.4,15.700000,222.0,5750.0,Male
342,Gentoo,Biscoe,45.2,14.800000,212.0,5200.0,Female
343,Gentoo,Biscoe,49.9,16.100000,213.0,5400.0,Male