In [1]:
import pandas as pd
import seaborn as sns

In [3]:
df = sns.load_dataset('penguins')

In [8]:
df_copy = df.copy()
df_copy

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex
0,Adelie,Torgersen,39.1,18.7,181.0,3750.0,Male
1,Adelie,Torgersen,39.5,17.4,186.0,3800.0,Female
2,Adelie,Torgersen,40.3,18.0,195.0,3250.0,Female
3,Adelie,Torgersen,NaN,NaN,NaN,NaN,NaN
4,Adelie,Torgersen,36.7,19.3,193.0,3450.0,Female
...,...,...,...,...,...,...,...
339,Gentoo,Biscoe,NaN,NaN,NaN,NaN,NaN
340,Gentoo,Biscoe,46.8,14.3,215.0,4850.0,Female
341,Gentoo,Biscoe,50.4,15.7,222.0,5750.0,Male
342,Gentoo,Biscoe,45.2,14.8,212.0,5200.0,Female
343,Gentoo,Biscoe,49.9,16.1,213.0,5400.0,Male

In [9]:
# 5000g 이상의 펭귄 출력
df_copy = df.copy()
con = df['body_mass_g'] >= 5000
df_copy[con]

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex
221,Gentoo,Biscoe,50.0,16.3,230.0,5700.0,Male
223,Gentoo,Biscoe,50.0,15.2,218.0,5700.0,Male
224,Gentoo,Biscoe,47.6,14.5,215.0,5400.0,Male
227,Gentoo,Biscoe,46.7,15.3,219.0,5200.0,Male
229,Gentoo,Biscoe,46.8,15.4,215.0,5150.0,Male
...,...,...,...,...,...,...,...
335,Gentoo,Biscoe,55.1,16.0,230.0,5850.0,Male
337,Gentoo,Biscoe,48.8,16.2,222.0,6000.0,Male
341,Gentoo,Biscoe,50.4,15.7,222.0,5750.0,Male
342,Gentoo,Biscoe,45.2,14.8,212.0,5200.0,Female
343,Gentoo,Biscoe,49.9,16.1,213.0,5400.0,Male

In [12]:
# Gentoo종의 flipper_length 평균
df_copy = df.copy()
con = df_copy['species'] == 'Gentoo'
print(df_copy.loc[con, 'flipper_length_mm'].mean())

217.1869918699187

In [14]:
# Female Chinstrap종의 bill_length 높은순 정렬
df_copy = df.copy()
con = df_copy['species'] == 'Chinstrap'
df_copy.loc[con].sort_values('bill_length_mm', ascending = False)

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex
169,Chinstrap,Dream,58.0,17.8,181.0,3700.0,Female
215,Chinstrap,Dream,55.8,19.8,207.0,4000.0,Male
183,Chinstrap,Dream,54.2,20.8,201.0,4300.0,Male
191,Chinstrap,Dream,53.5,19.9,205.0,4500.0,Male
181,Chinstrap,Dream,52.8,20.0,205.0,4550.0,Male
...,...,...,...,...,...,...,...
174,Chinstrap,Dream,43.2,16.6,187.0,2900.0,Female
184,Chinstrap,Dream,42.5,16.7,187.0,3350.0,Female
206,Chinstrap,Dream,42.5,17.3,187.0,3350.0,Female
172,Chinstrap,Dream,42.4,17.3,181.0,3600.0,Female
182,Chinstrap,Dream,40.9,16.6,187.0,3200.0,Female

In [27]:
# species(종)별 성별 구분하여 평균 몸무게 출력
# => ex) Adelie, Female / Adelie, male / Gentoo, Female...
df_copy = df.copy()
for species in df_copy['species'].unique():
    for sex in df_copy['sex'].unique()[:2]:
        con1 = df_copy['species'] == species
        con2 = df_copy['sex'] == sex
        print(f'{species}, {sex}의 평균 몸무게는 ', end = '')
        print(df_copy.loc[con1 & con2, 'body_mass_g'].mean())

Adelie, Male의 평균 몸무게는 4043.4931506849316
Adelie, Female의 평균 몸무게는 3368.8356164383563
Chinstrap, Male의 평균 몸무게는 3938.970588235294
Chinstrap, Female의 평균 몸무게는 3527.205882352941
Gentoo, Male의 평균 몸무게는 5484.836065573771
Gentoo, Female의 평균 몸무게는 4679.741379310345

In [39]:
# bill_depth 결측치 채우기
# => 같은종 같은섬의 평균으로
df_copy = df.copy()

for species in df_copy['species'].unique():
    for island in df_copy['island'].unique():
        con1 = df_copy['species'] == species
        con2 = df_copy['island'] == island
        avg = df_copy.loc[con1 & con2, 'bill_depth_mm'].mean()
        df_copy.loc[con1 & con2, 'bill_depth_mm'] = df_copy.loc[con1 & con2, 'bill_depth_mm'].fillna(avg)

species               0
island                0
bill_length_mm        2
bill_depth_mm         2
flipper_length_mm     2
body_mass_g           2
sex                  11
dtype: int64
species               0
island                0
bill_length_mm        2
bill_depth_mm         0
flipper_length_mm     2
body_mass_g           2
sex                  11
dtype: int64